extends layout

block append script

block content
	.row
		.col-sm-12
			if user
				h1 Welcome back #{user.name}
	.row
		.col-sm-4
			h3 Lists I own
			table
				thead
					tr
						th
						th
				tbody
					each list in myLists
						tr
							th
								a(href='/list/'+list._id+'/'+list.name) #{list.name}
							td
								a(href='/list/view/'+list._id, class='btn btn-primary btn-sm')
									i(class='fa fa-info-circle')
									span Details
							td
								a(href='/list/edit/'+list._id, class='btn btn-primary btn-sm')
									i(class='fa fa-edit')
									span Edit
							td
								a(href='/list/delete/'+list._id, class='btn btn-danger btn-sm')
									i(class='fa fa-crop')
									span Delete
				tfoot
					tr
						td
							a(href='/list/new', class='btn btn-primary btn-sm')
								i(class='fa fa-list-alt')
								span New list
		.col-sm-4
			h3 Lists I'm on
			table
				thead
					tr
						th
				tbody
					each list in inLists
						tr
							td
								a(href='/list/'+list._id+'/'+list.name) #{list.name}
		.col-sm-4
			h3 Blah
			table(ng-controller="GiftController")
				thead
					tr
						th List
				tbody
					tr(ng-repeat="gift in gifts")
						td
							a(href='/list/') {{gift.name}}
